:root {
  --primary-color: #cd0000;
  --secondary-color: #5e0000;
}
  
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
  
body {
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}
  
.bg {

  z-index: 0;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
  url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}
  
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
  
.content {
  background-color: #000000;
  width: 1500px;
  height: 700px;
  text-align: center;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;

}
.options {
  width: 450px;
  height: 100%;
  /* background-image: url("texture.jpg"); */
  background-color: rgb(76, 76, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {

  width: 100%;
  height: 2000px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 58%, rgba(70,70,70,1) 77%, rgba(102,95,95,1) 100%);
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
}
.pannel {
  z-index: 2;
  width: 100%;
  height: 800px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.bar {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
#logo {
  height: 100px;
}
.preview {
  width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#laboratory {
  height: 500px;
}
h1 {
  margin-left: 100px;
  font-size: 90px;
  color: rgba(255,255,255,.3);
  background: #000000;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

button {
  height: 100px;
  width: 350px;
  margin-top: 100px;
  background: var(--primary-color);
  border: none;
  box-shadow: -6px 6px 0 var(--secondary-color),-7px 9px 30px -1px black;
  color: white;
  cursor: pointer;
  font-size: 50px;
  padding: 1rem 2rem;
  position: relative;
  outline: none;
  transition: 0.2s;
}
button:hover {
  box-shadow: -9px 9px 0 var(--secondary-color),-7px 9px 30px 5px black;
  left: 3px;
  top: -3px;
  transition: 0.1s;
}
button:active {
  background-color: white;
  color: rgb(255, 0, 0);
  box-shadow: -3px 3px 0 var(--secondary-color);
  left: -3px;
  top: 3px;
  transition: 0s;
}

button::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-right: solid 6px var(--secondary-color);
  border-left-width: 0;
  background: none;
  top: 0;
  left: -6px;
}
.scp{
  position: absolute;
  height: 100;
  width: 100;
  background-color:#5e0000;
}
button:after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px var(--secondary-color);
  border-bottom-width: 0;
  right: 0;
  bottom: -6px;
}

button:active::before {
  border: solid 3px transparent;
  border-right: solid 3px var(--secondary-color);
  border-left-width: 0;
  left: -3px;
}

button:active::after {
  border: solid 3px transparent;
  border-top: solid 3px var(--secondary-color);
  border-bottom-width: 0;
  bottom: -3px;
}
